[
  {
    "pdf_file": "Daftar_Peserta_SMP_Swasta_Sutomo_1_Medan.pdf",
    "verification_codes": ["XXXX"]
  },
  {
    "pdf_file": "Daftar_Peserta_SMAS_Wage_Rudolf_Supratman_2_Medan.pdf",
    "verification_codes": ["XXXX"]
  }
]

